.mulitpleChoiceContainer {
    padding: 0 6rem 5rem 6rem;
}

.contentBox {
    min-height: 174px;
    padding: 0 0 24px 0;
    height: auto;
    //styleName: EN-POC-28-Bold;
    // font-family: 'English Signika';
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: var(--Sizes0);
    text-align: left;
    color: #485465;
}

.optionsContainer {
    height: 256px;
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    grid-gap: 10px;
}

.cardBox {
    height: 120px;
    width: 100%;
    border: 1px solid #6D7684;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-wrap: wrap;
    border-radius: 5px;
    overflow: hidden;
}

.instructionHeading {
    // font-family: 'English Signika';
    font-size: 20px;
    font-weight: 600;
    line-height: 32px;
    letter-spacing: var(--Sizes0);
    text-align: left;
    color: #006E8E;
}

.option {
    width: 10%;
    height: 100%;
    background: #ECEDEF;
    border-right: 1px solid #6D7684;
    display: flex;
    justify-content: center;
}

.optionLabel {
    padding: 1.5rem 2rem 1.5rem 2rem;
    width: 90%;
    // font-family: 'English Signika';
    font-size: 22px;
    font-weight: 300;
    line-height: 27.1px;
    letter-spacing: var(--Sizes0);
    text-align: left;
}