.fill-in-the-blanks {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 2rem 3rem 12rem;
  max-height: calc(100dvh - 150px);
  overflow-y: auto;
  scrollbar-width: none;

  .fib-content {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;

    form {
      flex: 1;
      min-width: 60%;
      max-width: 100%;

      h2 {
        font-size: 1.75rem;
        color: #485465;
        line-height: 40px;
        letter-spacing: var(--Sizes0);
      }

      h3 {
        font-size: 18px;
        font-weight: bold;
        color: #006e8e;
      }

      .question {
        font-size: 22px;
        font-weight: 300;
        color: #000000;
        line-height: 30px;
        margin-bottom: 20px;
        letter-spacing: var(--Sizes0);

        .input-container {
          position: relative;
          display: inline-block;

          input {
            border: 1px solid #ccc;
            border-radius: 4px;
            padding: 8px;
            padding-right: 30px;
            font-size: 14px;
            margin: 0 5px;
            width: 10rem;

            &.correct {
              border: 1px solid green;
            }

            &.incorrect {
              border: 1px solid red;
            }
          }

          .feedback-symbol {
            position: absolute;
            right: 10px;
            top: 50%;
            transform: translateY(-50%);
            pointer-events: none;
            &.correct-symbol {
              font-size: 15px;
              color: green;
            }

            &.incorrect-symbol {
              font-size: 10px;
              color: red;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .fill-in-the-blanks {
    overflow: scroll;
    margin: 0px;
    padding: 20px;
    height: calc(100dvh - 320px);

    .fib-content {
      flex-direction: column;
    }
  }
}
.word-bank {
  background-color: #e6f2ff;
  padding: 20px;
  border-radius: 15px;
  min-width: 25%;

  @media (max-width: 768px) {
    width: 90%;
    margin-top: 20px;
  }

  .word-bank-title {
    display: flex;
    justify-content: center;
    font-size: 20px;
    font-weight: 600;
    color: #023366;
  }

  h3 {
    font-size: 18px;
    color: #2b2b2b;
    margin-bottom: 10px;
  }

  ul {
    list-style: none;
    padding: 0;

    li {
      font-size: 20px;
      font-weight: 300;
      line-height: 30px;
      letter-spacing: var(--Sizes0);
      color: #023366;
      padding: 5px 0;
    }
  }
}
