.app-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 0 3rem;
  max-width: 1600px;
  margin: 0 auto;
  gap: 1rem;
  overflow: hidden;

  @media (max-width: 768px) {
    padding: 1rem;
    flex-direction: column;
  }
}

.title-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;

  h3,
  p {
    margin: 0;
  }
}

.header {
  text-align: center;
  margin-bottom: 20px;

  h1 {
    margin: 0;
    font-size: 24px;
  }

  h2 {
    margin: 5px 0 20px;
    font-size: 18px;
    color: #666;
  }
}

.content {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 15px;

  @media (min-width: 769px) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.drag-area {
  padding: 20px;
  height: auto;
  border-radius: 10px;
  background-color: #e7f3ff;
  width: 100%;

  @media (min-width: 768px) {
    max-width: none;
  }

  @media (min-width: 425px) {
    max-width: none;
  }

  h3 {
    margin: 0 0 25px;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
  }

  .input-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 15px;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    margin-top: 8px;
    border: 2px solid #B6BBC1;

    input {
      background-color: #fff;
      border: none;
      flex-grow: 1;
      margin-right: 10px;
      outline: none;
      transition: border-color 0.3s;
      font-size: 22px;
      font-weight: 300;

      &:focus {
        border-color: #007bff;
      }
    }

    .save-btn {
      width: fit-content;
      align-self: flex-end;
      font-weight: 500;
      cursor: pointer;
    }
  }

  .add-input-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 15px;
    padding-top: 1rem;

    input {
      background-color: #fff;
      border: none;
      flex-grow: 1;
      margin-right: 10px;
      outline: none;
      transition: border-color 0.3s;

      &:focus {
        border-color: #007bff;
      }
    }

    .save-btn {
      width: fit-content;
      align-self: flex-end;
      font-weight: 500;
      cursor: pointer;
    }
  }

  .drag-item {
    display: flex;
    justify-content: space-between;
    padding: 1.22rem .625rem;
    margin-bottom: 5px;
    border-radius: 5px;
    background-color: #cde5ff;
    border: 2px solid #8bc5ff;
    font-size: 22px;
    font-weight: 300;
    cursor: move;
    transition: all 0.5s;

    &:hover {
      border-color: #047fff;
    }
  }

  .add-btn-container {
    display: flex;
    justify-content: end;
  }

  .drag-area-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
    flex-wrap: wrap;
  }
}

.drop-zone-container {
  width: 100%;

  .drop-here-container {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;

    @media (min-width: 768px) {
      min-width: 300px;
    }
  }

  &:nth-child(02) {
    .drop-here-container {
      h3 {
        color: #004a2a;
        font-size: 20px;
        font-weight: 600;
      }
    }
  }

  &:nth-child(03) {
    .drop-here-container {
      h3 {
        color: #996000;
        font-size: 20px;
        font-weight: 600;
      }
    }
  }

  .drop-zone {
    min-height: 461px;
    border: 2px solid #ccc;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 20px;
    text-align: center;
    transition: border-color 0.3s;
    border-top: none;

    &.green {
      border-color: green;
    }

    &.orange {
      border-color: orange;
    }

    .dropped-item {
      display: flex;
      justify-content: space-between;
      background-color: #cde5ff;
      border: 2px solid #8bc5ff;
      border-radius: 5px;
      padding: 10px;
      margin: 5px 0;
      text-align: left;
    }

    p {
      color: #999;
      font-size: 20px;
      font-weight: 300;
    }
  }

  .drop-here-style {
    border: 2px dashed #ccc;
    padding: 20px;
    border-radius: 8px;
    text-align: center;

    span {
      display: block;
    }
  }
}

.add-card-btn {
  border-radius: 5px;
  border: 1px solid #b6bbc1;
  background-color: #ffffff;
  color: rgba(0, 0, 0, 0.651);
  font-weight: 600;
  padding: 7px 8px;
  cursor: pointer;
  display: flex;
  align-items: center;

  &:hover {
    background-color: #c3dcf0;
    border-color: #c3dcf0;
  }
}

.add-card-container {
  display: flex;
  justify-content: end;
  margin-top: 10px;
}

.circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.651);
  color: white;
  margin-right: 4px;
  font-size: 13px;
}

.delete-btn {
  width: fit-content;
  border-radius: 5px;
  background-color: #fff;
  border: 2px solid rgb(107, 105, 105);
  align-self: flex-end;
  color: black;
  font-weight: 500;
  padding: 5px 10px;
  cursor: pointer;

  &:hover {
    background-color: #c3dcf0;
  }
}

.divider {
  width: 100%;
  height: 2px;
  background-color: #ccc;
  margin: 20px 0;
}

.delete-image {
  width: 15px;
}

.delete-image-container {
  display: flex;
  background-color: #fff;
  width: fit-content;
  padding: 4px;
  border-radius: 8px;
  border: 1px solid rgb(107, 105, 105);
  align-self: flex-end;
  cursor: pointer;

  &:hover {
    background-color: #c3dcf0;
  }
}

.title-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  p,
  h3 {
    margin: 0;
    margin-bottom: 10px;
  }
}
