.image-container {
  display: inline-block;
  width: auto;
  vertical-align: top;
  box-sizing: border-box;
  position: relative;
  min-width: 100px;
  border-radius: 10px;
  overflow: hidden;
  max-width: 100%;
  background: rgba(255, 255, 255, 0.2);
  border: 1px solid #FFFFFF !important;
}
