.container {
  width: 100%;
  max-width: 1600px;
  margin: auto;
  height: 100%;
  background-color: white;
  overflow: hidden;
  border-radius: 0.625rem;
  position: relative;
}
.wizardContainer {
  padding-top: 2rem;
  height: calc(100dvh - 263px);
  overflow-y: auto;
}


.wizardContainer::-webkit-scrollbar {
  width: 0px;
}
